@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body {
  font-size: 62.5%;
}

.form-user {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 10px;
    justify-content: space-between;
    gap: 10px;
    background-color: #fff;
    flex-wrap: wrap;
    align-items: center;
}


input {
        width: 300px;
        height: 30px;
        
        display: flex; 
        flex-direction: column;
        border: none;
        border-bottom: 2px solid #8b8484;
}

.input-user {
    position: relative;
}

.form-data {
    /* width: 100%;
    height: 300px; */
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    border: none;
    margin: 20px;

}

fieldset {
    border-radius: 10px;
    width: 100%;
    height: 500px;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.12);
    background-color: #fff;
    border: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

legend {
    margin-left: 10px;
    font-size: 2.4rem;
    font-weight: 600;
    border: none;
}

.links a {
  font-size: 1.8rem;
}

.btn-edit {
    width: 150px;
    height: 50px;
    border-radius: 30px;
    font-size: 1.8rem;
    font-weight: 600;
    background-color: #edcb17;
    box-shadow: inset 0px 0px 6px 2px rgba(0, 0, 0, 0.12);
    border: none;
    transition: 300ms;
}

.btn-edit:hover {
    cursor: pointer;
    font-size: 2.0rem;
    color: #edcb17;
    background-color: #000;
}

.address-user {

    width: 100%;
    height: 330px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.address-one {
    width: 50%;
    height: 355px;
    display: flex;
    border-radius: 10px;
    box-shadow: inset 0px 0px 6px 2px rgba(0, 0, 0, 0.12);
    padding: 10px;
}

.address-one input {
    width: 20px;
}

.address-btn {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    align-content: center;
    gap: 5px;
    padding: 5px;
}

@media (max-width: 900px) {
  .user-credits {
      background-color:   #f9f9f9;


      justify-content: space-between;
  }
}

@media (max-width: 900px) {
  .user-credits-text {
      height: 60px;
  }
}

@media (max-width: 900px) {
  .user-credits-text {
      height: 60px;
  }
}

@media (max-width: 900px) {
  .user-credits-container p {
      display: none;
  }
}

@media (max-width: 900px) {
  .user-credits-container {
    width: 90%;
    flex-direction: row;
  }
}


@media (max-width: 900px) {
  .user-account {
      flex-direction: column;
  }
}

@media (max-width: 900px) {
  .userData {
      width: 90%;
      margin-top: 10px;
  }
}

@media (max-width: 900px) {
  .total-amount {
      width: 50%;
      height: 150px;
      padding: 20px;
      margin: 5px;
      justify-content: space-between;
      
  }
}

@media (max-width: 900px) {
  .address-one {
      width: 100%;
      height: 270px;
  }
}