*{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    background-color: black ;
    color: white; 
    width: 100%;
    height: 80px;

   display: flex;
   align-items: center;
   justify-content: space-between;
}

.link-img img{
    width: 60px;
    padding: 5px;
    margin: 10px;
}

@media (min-width: 800px) {  

    .container {
        display: flex;
    }
}

.left {
    width: 100%;
}

.right {
    width: 100%;
}

nav h3 {
    padding: 0% 3% ;
}

.img-resumo{
    display: flex;
    flex-direction: row;
}

.CEP {
    width: 80%;
    height: 120px;
    color: black;
    font-size: large;
    background-color: white;
    padding: 15px;
    margin: 40px ;
    /* border-style: ridge; */
    box-shadow: 1px 1px 8px 4px rgba(0, 0, 0, 0.12);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.CEP input {
    width: 60%;
    height: 30px;
    background-color: whitesmoke;
    border-style: solid;
    border-radius: 5px;
}

.ok {
    width: 15%;
    height: 30px;
    background-color: whitesmoke;
    border-style: solid;
    border-radius: 5px;
}

.descricao-produto{
    width: 80%;
    color: black;
    background-color: whitesmoke;
    margin: 40px;
    padding: 10px;
    /* border-style: ridge; */
    box-shadow: 1px 1px 8px 4px rgba(0, 0, 0, 0.12);
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
}

.descricao-produto img {
    width: 20%;
    border-radius: 10px;
}

.test input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border-style: ridge;
}

.descricao-produto .lixeira {
    width: 20px;
    height: 20px;
    margin-top: 50px;
    cursor: pointer;
}

.descricao-produto .test {
    width: 10%;
    display: flex;
    flex-direction: column;
}

.resumo {
    width: 80%;
    height: 600px;
    color: black;
    background-color: white;
    margin: 30px 40px;
    padding-top: 30px;
    /* border-style: ridge; */
    box-shadow: 1px 1px 8px 4px rgba(0, 0, 0, 0.12);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.resumo img {
    width: 70%;
    height: 70px;
    
}

.botao-pagamento {
    background-color: rgb(13, 161, 230);
    color: white;
    width: 60%;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    
}

.resumo-info{
    margin-top: 50px;
    line-height: 60px;
}

.continuar-compra {
    width: 60%;
    height: 40px;
    background-color: rgb(2, 43, 61);
    border-style: none;
    border-radius: 5px;
}

button {
    cursor: pointer;
}

button a {
    color: white;
    text-decoration: none;
}


footer {
    width: 100%;
    height: 70px;
    background-color: black;
    color: white;
    font-style: italic;

    display: flex;
    justify-content: center;
    align-items: center;
}


