*{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.home {
    margin-top: 20px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(5, 5, 5);
}

h1 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.img-carrinho a img {
    width: 15%;
}

.container-categoria {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 40px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

@media (max-width:559px) {
    .container-categoria {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .img-carrinho a img {
        width: 10%;
    }

    div .descricao {
        width: 80%;
        margin: auto;
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
    }
}


.descricao img {
    width: 50%;
    border-radius: 10px;
}

.descricao {
    width: 30%;
    margin: 10px;
    padding: 10px;
    box-shadow: 1px 1px 8px 4px rgba(0, 0, 0, 0.12);
    line-height: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descricao a {
    text-decoration: none;
    margin: 5px;
    color: red;
}
