* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(252, 214, 2);
}

a img {
    width: 5%;
    padding: 5px;
}

.imagem-finalizacao {
    width: 15% ;
    display: flex;
    
}

.informacao {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-info img {
    width: 70%;
    display: flex;
}


    .container {
        width: 50%;
        padding: 4px;
        border-radius: 10px;
        background-color: black;
        color: aliceblue;
        display: flex;
        align-items: center;
    }



 section {
     display: flex;
     justify-content: center;
 }

 @media (max-width:820px) {
    a img {
        width: 10%;
    }

    .container-info img {
        width: 90%;
        display: flex;
    }

    .container {
        width: 90%;
        padding: 4px;
        margin-top: 50px;
        border-radius: 10px;
        background-color: black;
        color: aliceblue;
        display: flex;
    }

    .informacao {
        margin-top: 10px;
    }
}
