@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  display: flex;
  background-color: #edcb17;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 10vw;
}

header img {
  width: 25vw;
}

.inputs {
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 15px;
  padding: 3px 8px;
}

.inputs input {

  border: none;
  padding: 3px 8px;
  height: 30px;
  width: 30vw;
  border-radius: 15px;
}

.inputs input:focus {
  outline: none;

}

.inputs span {
  cursor: pointer;
  
} 

header .links-acessaveis .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 10vw;
  border-right: 1px solid rgb(0, 0, 0);
  line-height: 23px;
}

.links a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  
}

header .links-acessaveis {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

header .links-acessaveis .cart {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  font-size: 2.5vw;
  border-radius: 50%;
  width: 5vw;
  height: 5vw;
}

header .links-acessaveis .cart a {
  color: white;
}

header .button-none {
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}

header .center {
  display: flex;
  align-items: center;
}