/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'); */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  background-color: #edcb17;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

header img {
  width: 100%;
}

header .logo {
  width: 20%;
}

.inputs {
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 15px;
  padding: 3px 8px;
}

.inputs input {

  border: none;
  padding: 3px 8px;
  height: 30px;
  width: 30vw;
  border-radius: 15px;
}

.inputs input:focus {
  outline: none;

}

.inputs span {
  cursor: pointer;
} 

header .links-acessaveis .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 10vw;
  gap: 5px;
}

.links a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  line-height: 20px;
}

header .links-acessaveis {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

header .button-none {
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}

header .center {
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  header {
    height: 100px;
  }

  header img {
    width: 150px;
    height: 150px;
  }
  
  header .logo {
    width: 20%;
  }

  .links-acessaveis a b{
    display: none;
  }

  header .links-acessaveis .links {
    display: flex;
    flex-direction: row;
  }
}