* {
    font-family: sans-serif;
    box-sizing: border-box;
}

h1 {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

@media (min-width: 700px) {
    .container-login {
        margin: 20px 20px 50px;
        display: flex;
        justify-content: center;
    }

    .left {
        width: 38%;
        height: 420px;
        background-color: white;
        color: black;
        margin: 30px;
        padding: 20px;
        line-height: 35px;
        border-radius: 10px;
        /* border-style: ridge; */
        box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.12);
    
        display: flex;
    }

    .rigth {
        width: 38%;
        height: 420px;
        background-color: white;
        color: black;
        margin: 30px;
        padding: 20px;
        line-height: 35px;
        border-radius: 10px;
        /* border-style: ridge; */
        box-shadow: 1px 1px 8px 4px rgba(0, 0, 0, 0.12);
    
        display: flex;
    }
}

@media (max-width:700px) {
    h1 {
        text-align: center;
    }


    .left {
        width: 85%;
        height: 420px;
        background-color: white;
        color: black;
        margin: auto;
        margin-top: 30px;
        padding: 20px;
        line-height: 35px;
        border-radius: 10px;
        /* border-style: ridge; */
        box-shadow: 1px 1px 8px 4px rgba(0, 0, 0, 0.12);
    
        display: flex;
    }

    .rigth {
        width: 85%;
        height: 420px;
        background-color: white;
        color: black;
        margin: auto;
        margin-top: 30px;
        padding: 20px;
        line-height: 35px;
        border-radius: 10px;
        /* border-style: ridge; */
        box-shadow: 1px 1px 8px 4px rgba(0, 0, 0, 0.12);
    
        display: flex;
    }
}


.ornament-button {
    width: 100%;
    height: 50px;
    font-size: x-large;
    text-align: center;
    background-color: rgb(219, 222, 223);
    border-radius: 10px;
    border-style: ridge;
    cursor:grabbing;
}



form {
    width: 100%;
}

input {
    width: 100%;
    height: 35px;
    border-style: ridge;
    border-radius: 5px;
}

.real-button {
    width: 40%;
    height: 35px;
    margin-top: 20px;
    background-color: rgb(245, 190, 9);
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
}

button a {
    text-decoration: none;
    color: black;
}

.center {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.esqueceu-senha {
    color: rgb(29, 23, 23);
    text-decoration: none;
    display: flex;
    justify-content: center;
}
