@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

h1, h2 {
    font-size: 1.8rem;
    margin: 20px;
}


article {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

form {
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    font-size: 1.6rem;
}


button {
    width: 20%;
    min-height: 100%;
    padding: 5px;
    background-color: rgb(245, 190, 9);
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.6rem;
}

.btn-back {
    width: 20%;
    min-height: 100%;
    background-color: rgb(245, 190, 9);
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    color: black;
}