@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body {
  font-size: 62.5%;
}

.links a {
  font-size: 1.8rem;
}

.requests-container {
  width: 100%;
}

.requests {
  width: 100%;
  height: 40px;
  background-color: #fff;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.12);
}

.requests-user {
  width: 100%;
  height: 20px;
  border: none;
  border-bottom: 2px solid #8b8484;
  padding: 20px;
  text-align:start;
  display: flex;
  justify-content: space-between;
}

 #see-more {
  background-color:#fff;
  border: none;
  cursor: pointer;
 }

h5 {
  color: #edcb17;
  text-shadow: #8b8484;
}

.requests-status {
  width: 100%;
  height: 310px;
  border: none;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  border-radius: 0 0 2% 2%;
  /* margin: 0 10px 10px; */
  padding: 20px;
  text-align:start;
  display: none;
}

