  <%- include('./partials/head')%>
  <link rel="stylesheet" href="/css/address.css">
<body>
    <%- include('partials/header-navbar') %>
    <main>
        <%- include('partials/userAccount') %>
                        <h2>Endereços Cadastrados</h2>
                        <div class="line"></div>
                        </div>
                    </div>                    
                    <div class="address-user">
                        <div class="address-one">
                            <div class="address-btn">
                            <input type="radio" name="select" id="select">
                            <label for="selected">Selecionar endereço</label>
                            </div>
                        </div>
                        <div class="address-one">
                            <div class="address-btn">
                            <input type="radio" name="select" id="select">
                            <label for="selected">Selecionar endereço</label>
                        </div>
                        </div>
                    </div>
                </article>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>

</html>