<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/address.css">
    <script src="https://kit.fontawesome.com/abd81b9a83.js" crossorigin="anonymous"></script>
    <title>ScorpionTabacaria</title>
</head>

<body>
    <%- include('partials/header-navbar') %>
    <main>
        <%- include('partials/userAccount') %>
                        <h2>Endereços Cadastrados</h2>
                        <div class="line"></div>
                        </div>
                    </div>                    
                    <div class="address-user">
                        <div class="address-one">
                            <div class="address-btn">
                            <input type="radio" name="select" id="select">
                            <label for="selected">Selecionar endereço</label>
                            </div>
                        </div>
                        <div class="address-one">
                            <div class="address-btn">
                            <input type="radio" name="select" id="select">
                            <label for="selected">Selecionar endereço</label>
                        </div>
                        </div>
                    </div>
                </article>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>

</html>