<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/carrinho.css">
    <title>Scorpion Tabacaria</title>
</head>
<body>
   <header></header>
   
   <nav>
       <a class="link-img" href="/"><img src="/img/arrow-white.png" alt="seta"></a>
       <h1>Meu carrinho</h1>
       <h3>Itens( )</h3>
    </nav>
    
<div class="container">


        <div class="left"> 
           <section class="CEP">
                <form action="">
                    <label for="CEP">CEP:</label>
                    <input type="text" name="cep" id="cep" >
                    <button class="ok" type="submit">OK</button>
                </form>
                <p>Valor do frete: R$ 00,00 </p>
            </section>

            
            <div class="descricao-produto">
                        <img src="/img/mangueira.jpeg" alt="imagem">
                            
                        <p>Descrição do produto</p>
                        
                    <div class="test">
                        <label for="quantidade"></label>
                        <input type="number" name="quantidade">
                        <img class="lixeira" src="/img/trash-icon.png" alt="lixo">
                     </div>   
                    
            </div>
        </div>

                        
                    
                    
                    


    <div class="right">
            <section class="resumo">
                <div class="img-resumo">
                    <img src="/img/resume-icon.png" alt="resumo">
                    <h2>RESUMO</h2>
                </div>

                <p>Valor dos produtos: R$00,00</p>
                <p>Frete: R$00,00</p>
                <p>Total a prazo: R$00,00</p>
                <p>(Em até 12x de R$ 00,00 sem juros)</p>
                <br><br>

            <button class="botao-pagamento" type="button"><a href="/finalizacao">Ir para o pagamento</a></button>
               <br><br>
            <button class="continuar-compra" type="button"><a href="/categoria">Continuar Comprando</a></button>
            
                
        </section>
        
     </div>


</div>

    <footer> 
        <h5>SCORPION TABACARIA</h5>
    </footer>
    
</body>
</html>
    
    
    
    
    
    
    

    
        

