   <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/categoria.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Scorpion Tabacaria</title>
</head>
<body>

    
      <%- include('partials/header-navbar') %>
    

    <a class="home" href="/">HOME</a>

    <h1>Listagem dos Produtos</h1>

        
     <div class="container-categoria">

         <div class="descricao">

            <div class="img-carrinho">
               <a href="/carrinho">
                  <img src="/img/adicionar-ao-carrinho.png" alt="adicionar ao carrinho">
               </a>
            </div>

            <img src="/img/mangueira.jpeg" alt="">

            <h4>Título do produto</h4>

            <p>R$ 00,00</p>

            <a href="/detalhe">Detalhe do produto</a>

         </div>

         <div class="descricao">

            <div class="img-carrinho">
               <a href="/carrinho">
                  <img src="/img/adicionar-ao-carrinho.png" alt="adicionar ao carrinho">
               </a>
            </div>

            <img src="/img/mangueira.jpeg" alt="">

            <h4>Título do produto</h4>

            <p>R$ 00,00</p>

            <a href="/detalhe">Detalhe do produto</a>

         </div>

         <div class="descricao">

            <div class="img-carrinho">
               <a href="/carrinho">
                  <img src="/img/adicionar-ao-carrinho.png" alt="adicionar ao carrinho">
               </a>
            </div>

            <img src="/img/mangueira.jpeg" alt="">

            <h4>Título do produto</h4>

            <p>R$ 00,00</p>

            <a href="/detalhe">Detalhe do produto</a>

         </div>

         <div class="descricao">

            <div class="img-carrinho">
               <a href="/carrinho">
                  <img src="/img/adicionar-ao-carrinho.png" alt="adicionar ao carrinho">
               </a>
            </div>

            <img src="/img/mangueira.jpeg" alt="">

            <h4>Título do produto</h4>

            <p>R$ 00,00</p>

            <a href="/detalhe">Detalhe do produto</a>

         </div>

         <div class="descricao">

            <div class="img-carrinho">
               <a href="/carrinho">
                  <img src="/img/adicionar-ao-carrinho.png" alt="adicionar ao carrinho">
               </a>
            </div>

            <img src="/img/mangueira.jpeg" alt="">

            <h4>Título do produto</h4>

            <p>R$ 00,00</p>

            <a href="/detalhe">Detalhe do produto</a>

         </div>

         <div class="descricao">

            <div class="img-carrinho">
               <a href="/carrinho">
                  <img src="/img/adicionar-ao-carrinho.png" alt="adicionar ao carrinho">
               </a>
            </div>

            <img src="/img/mangueira.jpeg" alt="">

            <h4>Título do produto</h4>

            <p>R$ 00,00</p>

            <a href="/detalhe">Detalhe do produto</a>

         </div>

         
      </div>

    

   
      <%- include('partials/footer') %>
   


</body>

</html>


