<!DOCTYPE html>
<html lang="en">

<head>
   <%- include('./partials/head')%>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/css/categoria.css">
   <link rel="stylesheet" href="/css/header.css">
   <link rel="stylesheet" href="/css/footer.css">
   <title>Scorpion Tabacaria</title>
</head>

<body>


   <%- include('partials/header-navbar') %>


      <a class="home" href="/">HOME</a>

      <h1>Listagem dos Produtos</h1>


      <div class="container-categoria">
         <div class="row">
            <div class="descricao">
               <img src="/img/mangueira.jpeg" alt="">
               <h4>Título do produto</h4>
               <p>R$ 00,00</p>
               <a href="/detalhe">Descrição do produto</a>
               <a href="/carrinho">Adicionar ao carrinho</a>
            </div>
            <div class="descricao">
               <img src="/img/mangueira.jpeg" alt="">
               <h4>Título do produto</h4>
               <p>R$ 00,00</p>
               <a href="/detalhe">Descrição do produto</a>
               <a href="/carrinho">Adicionar ao carrinho</a>
            </div>
            <div class="descricao">
               <img src="/img/mangueira.jpeg" alt="">
               <h4>Título do produto</h4>
               <p>R$ 00,00</p>
               <a href="/detalhe">Descrição do produto</a>
               <a href="/carrinho">Adicionar ao carrinho</a>
            </div>

         </div>

         <div class="row">
            <div class="descricao">
               <img src="/img/mangueira.jpeg" alt="">
               <h4>Título do produto</h4>
               <p>R$ 00,00</p>
               <a href="/detalhe">Descrição do produto</a>
               <a href="/carrinho">Adicionar ao carrinho</a>
            </div>
            <div class="descricao">
               <img src="/img/mangueira.jpeg" alt="">
               <h4>Título do produto</h4>
               <p>R$ 00,00</p>
               <a href="/detalhe">Descrição do produto</a>
               <a href="/carrinho">Adicionar ao carrinho</a>
            </div>
            <div class="descricao">
               <img src="/img/mangueira.jpeg" alt="">
               <h4>Título do produto</h4>
               <p>R$ 00,00</p>
               <a href="/detalhe">Descrição do produto</a>
               <a href="/carrinho">Adicionar ao carrinho</a>
            </div>

         </div>


         <div class="row">
            <div class="descricao">
               <img src="/img/mangueira.jpeg" alt="">
               <h4>Título do produto</h4>
               <p>R$ 00,00</p>
               <a href="/detalhe">Descrição do produto</a>
               <a href="/carrinho">Adicionar ao carrinho</a>
            </div>
            <div class="descricao">
               <img src="/img/mangueira.jpeg" alt="">
               <h4>Título do produto</h4>
               <p>R$ 00,00</p>
               <a href="/detalhe">Descrição do produto</a>
               <a href="/carrinho">Adicionar ao carrinho</a>
            </div>
            <div class="descricao">
               <img src="/img/mangueira.jpeg" alt="">
               <h4>Título do produto</h4>
               <p>R$ 00,00</p>
               <a href="/detalhe">Descrição do produto</a>
               <a href="/carrinho">Adicionar ao carrinho</a>
            </div>

         </div>



         <div class="row">
            <div class="descricao">
               <img src="/img/mangueira.jpeg" alt="">
               <h4>Título do produto</h4>
               <p>R$ 00,00</p>
               <a href="/detalhe">Descrição do produto</a>
               <a href="/carrinho">Adicionar ao carrinho</a>
            </div>
            <div class="descricao">
               <img src="/img/mangueira.jpeg" alt="">
               <h4>Título do produto</h4>
               <p>R$ 00,00</p>
               <a href="/detalhe">Descrição do produto</a>
               <a href="/carrinho">Adicionar ao carrinho</a>
            </div>
            <div class="descricao">
               <img src="/img/mangueira.jpeg" alt="">
               <h4>Título do produto</h4>
               <p>R$ 00,00</p>
               <a href="/detalhe">Descrição do produto</a>
               <a href="/carrinho">Adicionar ao carrinho</a>
            </div>

         </div>



         <div class="row">
            <div class="descricao">
               <img src="/img/mangueira.jpeg" alt="">
               <h4>Título do produto</h4>
               <p>R$ 00,00</p>
               <a href="/detalhe">Descrição do produto</a>
               <a href="/carrinho">Adicionar ao carrinho</a>
            </div>
            <div class="descricao">
               <img src="/img/mangueira.jpeg" alt="">
               <h4>Título do produto</h4>
               <p>R$ 00,00</p>
               <a href="/detalhe">Descrição do produto</a>
               <a href="/carrinho">Adicionar ao carrinho</a>
            </div>
            <div class="descricao">
               <img src="/img/mangueira.jpeg" alt="">
               <h4>Título do produto</h4>
               <p>R$ 00,00</p>
               <a href="/detalhe">Descrição do produto</a>
               <a href="/carrinho">Adicionar ao carrinho</a>
            </div>

         </div>

      </div>



      <%- include('partials/footer') %>


</body>

</html>