   <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/categoria.css">
    <title>Scorpion Tabacaria</title>
</head>
<body>

    <header>
      
    </header>

    <a class="home" href="/">HOME</a>

    <h1>Listagem dos Produtos</h1>

<div class="container-categoria">

        
     <section>
         <div class="descricao">
            <img src="/img/mangueira.jpeg" alt="">
            <h4>Título do produto</h4>
            <p>R$ 00,00</p>
            <a href="/detalhe">Descrição do produto</a>
         </div>
         <div class="descricao">
            <img src="/img/mangueira.jpeg" alt="">
            <p>Título do produto</p>
            <p>R$ 00,00</p>
            <a href="/detalhe">Descrição do produto</a>
         </div>
         <div class="descricao">
            <img src="/img/mangueira.jpeg" alt="">
            <p>Título do produto</p>
            <p>R$ 00,00</p>
            <a href="/detalhe">Descrição do produto</a>
         </div>
     </section>

     <section>
        <div>
           <img src="/img/mangueira.jpeg" alt="">
           <p>Título do produto</p>
           <p>R$ 00,00</p>
           <a href="/detalhe">Descrição do produto</a>
        </div>
        <div>
           <img src="/img/mangueira.jpeg" alt="">
           <p>Título do produto</p>
           <p>R$ 00,00</p>
           <a href="/detalhe">Descrição do produto</a>
        </div>
        <div>
           <img src="/img/mangueira.jpeg" alt="">
           <p>Título do produto</p>
           <p>R$ 00,00</p>
           <a href="/detalhe">Descrição do produto</a>
        </div>
    </section>

    <section>
        <div>
           <img src="/img/mangueira.jpeg" alt="">
           <p>Título do produto</p>
           <p>R$ 00,00</p>
           <a href="/detalhe">Descrição do produto</a>
        </div>
        <div>
           <img src="/img/mangueira.jpeg" alt="">
           <p>Título do produto</p>
           <p>R$ 00,00</p>
           <a href="/detalhe">Descrição do produto</a>
        </div>
        <div>
           <img src="/img/mangueira.jpeg" alt="">
           <p>Título do produto</p>
           <p>R$ 00,00</p>
           <a href="/detalhe">Descrição do produto</a>
        </div>
    </section>

    <section>
        <div>
           <img src="/img/mangueira.jpeg" alt="">
           <p>Título do produto</p>
           <p>R$ 00,00</p>
           <a href="/detalhe">Descrição do produto</a>
        </div>
        <div>
           <img src="/img/mangueira.jpeg" alt="">
           <p>Título do produto</p>
           <p>R$ 00,00</p>
           <a href="/detalhe">Descrição do produto</a>
        </div>
        <div>
           <img src="/img/mangueira.jpeg" alt="">
           <p>Título do produto</p>
           <p>R$ 00,00</p>
           <a href="/detalhe">Descrição do produto</a>
        </div>
    </section>

    <section>
        <div>
           <img src="/img/mangueira.jpeg" alt="">
           <p>Título do produto</p>
           <p>R$ 00,00</p>
           <a href="/detalhe">Descrição do produto</a>
        </div>
        <div>
           <img src="/img/mangueira.jpeg" alt="">
           <p>Título do produto</p>
           <p>R$ 00,00</p>
           <a href="/detalhe">Descrição do produto</a>
        </div>
        <div>
           <img src="/img/mangueira.jpeg" alt="">
           <p>Título do produto</p>
           <p>R$ 00,00</p>
           <a href="/detalhe">Descrição do produto</a>
        </div>
    </section>

    <section>
        <div>
           <img src="/img/mangueira.jpeg" alt="">
           <p>Título do produto</p>
           <p>R$ 00,00</p>
           <a href="/detalhe">Descrição do produto</a>
        </div>
        <div>
           <img src="/img/mangueira.jpeg" alt="">
           <p>Título do produto</p>
           <p>R$ 00,00</p>
           <a href="/detalhe">Descrição do produto</a>
        </div>
        <div>
           <img src="/img/mangueira.jpeg" alt="">
           <p>Título do produto</p>
           <p>R$ 00,00</p>
           <a href="/detalhe">Descrição do produto</a>
        </div>
    </section>

    <section>
        <div>
           <img src="/img/mangueira.jpeg" alt="">
           <p>Título do produto</p>
           <p>R$ 00,00</p>
           <a href="/descricao">Descrição do produto</a>
        </div>
        <div>
           <img src="/img/mangueira.jpeg" alt="">
           <p>Título do produto</p>
           <p>R$ 00,00</p>
           <a href="/descricao">Descrição do produto</a>
        </div>
        <div>
           <img src="/img/mangueira.jpeg" alt="">
           <p>Título do produto</p>
           <p>R$ 00,00</p>
           <a href="/descricao">Descrição do produto</a>
        </div>
    </section>

    <section>
        <div>
           <img src="/img/mangueira.jpeg" alt="">
           <p>Título do produto</p>
           <p>R$ 00,00</p>
           <a href="/descricao">Descrição do produto</a>
        </div>
        <div>
           <img src="/img/mangueira.jpeg" alt="">
           <p>Título do produto</p>
           <p>R$ 00,00</p>
           <a href="/descricao">Descrição do produto</a>
        </div>
        <div>
           <img src="/img/mangueira.jpeg" alt="">
           <p>Título do produto</p>
           <p>R$ 00,00</p>
           <a href="/descricao">Descrição do produto</a>
        </div>
    </section>

    <section>
        <div>
           <img src="/img/mangueira.jpeg" alt="">
           <p>Título do produto</p>
           <p>R$ 00,00</p>
           <a href="/descricao">Descrição do produto</a>
        </div>
        <div>
           <img src="/img/mangueira.jpeg" alt="">
           <p>Título do produto</p>
           <p>R$ 00,00</p>
           <a href="/descricao">Descrição do produto</a>
        </div>
        <div>
           <img src="/img/mangueira.jpeg" alt="">
           <p>Título do produto</p>
           <p>R$ 00,00</p>
           <a href="/descricao">Descrição do produto</a>
        </div>
    </section>

    <section>
        <div>
           <img src="/img/mangueira.jpeg" alt="">
           <p>Título do produto</p>
           <p>R$ 00,00</p>
           <a href="/descricao">Descrição do produto</a>
        </div>
        <div>
           <img src="/img/mangueira.jpeg" alt="">
           <p>Título do produto</p>
           <p>R$ 00,00</p>
           <a href="/descricao">Descrição do produto</a>
        </div>
        <div>
           <img src="/img/mangueira.jpeg" alt="">
           <p>Título do produto</p>
           <p>R$ 00,00</p>
           <a href="/descricao">Descrição do produto</a>
        </div>
    </section>

   </div>
    

   <footer>
 
   </footer>


</body>

</html>


