<%- include('./partials/head')%>
    <link rel="stylesheet" href="/css/data.css">
<body>
    <%- include('partials/header-navbar') %>
    <main>

            <%- include('partials/userAccount') %>
                        <h2>Meus dados</h2>
                        <div class="line"></div>
                        </div>
                    </div>
                    <section class="data-container">  
                    <fieldset>
                        <legend>Dados pessoais</legend>
                    
                    
                    <form class="form-user" action="/user" method="POST">
                        <div> 
                         
                          <label for="name">Nome completo</label>
                          <input class="input-user" type="text" id="name" name="name" />
                        </div>
                        <div>
                            <label for="number">Nascimento</label>
                            <input class="input-user" type="number" id="number" name="number" />
                          </div>
                        <div>
                          <label for="number">CPF</label>
                          <input class="input-user" type="number" id="number" name="number" />
                        </div>
                                                           
                      </form>
                      <i class="fa-solid fa-pen-to-square"></i>
                    </fieldset>
                    <fieldset>
                      <legend>Dados de contato</legend>
                    <form class="form-user">
                      <div>
                        <label for="email">Email</label>
                        <input class="input-user" type="email" id="email" name="email" />
                      </div>
                      <div>
                          <label for="tel">Celular</label>  
                          <input class="input-user" type="tel" id="tel" name="tel" />
                        </div>
                        <div>
                          <label for="tel">Telefone residencial</label>
                          <input class="input-user" type="tel" id="tel" name="tel" />
                        </div>
                    </form>
                    <i class="fa-solid fa-pen-to-square"></i>
                  </fieldset>
               
                    </section>
                    
                </article>
                
        </section>
        
    </main>
    <%- include('partials/footer') %>
</body>

</html>