<%- include('./partials/head')%>
<link rel="stylesheet" href="/css/details.css">
<body>
  <%- include('partials/header-navbar') %>
    <nav>
        <a href="/categoria">
            <i class="fa-solid fa-circle-arrow-left "></i>
            Voltar
        </a>
    </nav>


    <h1>Título do produto</h1>

    <div class="container-detalhe">

        <div class="left">
            <h3>Descrição do produto</h3>
            <p>
               Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
               Nesciunt impedit est eum. Pariatur consectetur suscipit 
               labore quas recusandae saepe voluptate amet unde illo facilis, 
               molestiae a veritatis asperiores fuga aut?
            </p>

            <h4>Especificações</h4>
            <p>
               Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
               Nesciunt impedit est eum. Pariatur consectetur suscipit 
               labore quas recusandae saepe voluptate amet unde illo facilis, 
               molestiae a veritatis asperiores fuga aut?
            </p>

        </div>

        <div class="rigth">
            <img src="/img/mangueira.jpeg" alt="Produto">

            <p>Preço: R$ 00,00</p>

            <p>Em até 12x de R$ 00,00</p>

            <a href="/carrinho">COMPRAR AGORA</a>
            
        </div>


    </div>
    <%- include('partials/footer') %>
</body>
</html>