<%- include('./partials/head')%>
<link rel="stylesheet" href="/css/success.css">

<body>

  <%- include('partials/header-navbar') %>
  <main>
    <article class="success">
      <h1>Você não está logado!</h1>
      <h2>O que deseja fazer?</h2>
      <ul class="list">
        <li><a href="/"><i class="fa-solid fa-house"></i> Voltar para Home</a></li>
        <li><a href="/login"><i class="fa-solid fa-right-to-bracket"></i>  Fazer Login</a></li>
        
      </ul>

    </article>
  </main>
  <%- include('partials/footer') %>

</body>

</html>