<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/finalizacao.css">
    <title>Scorpion Tabacaria</title>
</head>
<body>

    <header>
        <a href="/"><img src="/img/left-arrow.png" alt="sair"></a>
    </header> 

    <div class="caixa">
        
        <section>
            <img class="imagem-finalizacao" src="/img/approved-icon.png" alt="imagem de aprovacao">
        </section>
        
        <section>
            <div class="informacao">
                <h1>Pronto, seu pagamento foi aprovado!</h1>
                <h3>Número da operação: 238495066663</h3>
            </div>
        </section>
        
        
        <section>
            
            <div class="container">

                <div class="container-info">
                    <img src="/img/card-icon.png" alt="cartao">
                </div>
                
                    <div class="container-info">
                        <h3>Você pagou: R$ 50,00</h3>
                        <p> Visa ****3020 Outro.
                            Na fatura dos seu cartão você verá
                            o pagamento em nome do SCORPION TABACARIA 
                        </p>
                    </div>
                </div>
                
            </section>
    </div>       

</body>
</html>