<%- include('./partials/head')%>
<link rel="stylesheet" href="/css/finalizacao.css">

<body>

    <a href="/"><img src="/img/left-arrow.png" alt="sair"></a>

    <div class="caixa">

        <section>
            <img class="imagem-finalizacao" src="/img/approved-icon.png" alt="imagem de aprovacao">
        </section>

        <section>
            <div class="informacao">
                <h2>Seu boleto foi gerado!</h2>
                <h3>Número da operação: 238495066663</h3>
            </div>
        </section>


        <section>

            <div class="container">

                <div class="container-info">
                    <img src="/img/card-icon.png" alt="cartao">
                </div>

                <div class="container-info">
                    <h3 id="payment">Valor a pagar: R$ </h3>
                    <p> Boleto enviado por email</p>
                       <p> Na identificação do boleto
                        o pagamento será em nome do SCORPION TABACARIA
                    </p>
                </div>
            </div>

        </section>
    </div>

</body>

</html>