<!DOCTYPE html>
<html lang="en">

<head>
   <%- include('./partials/head')%>

</head>

<body>
   <header>
      <%- include('./partials/header-navbar')%>
   </header>

   <section id="carrossel">
      <i  class='bx bx-chevron-left'></i>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHCqG7UIvuSAtT-BG6AyR9n-qVJavjYVxrSQ&usqp=CAU"
         alt="" id="imagem">
      <i  class='bx bx-chevron-right'></i>
   </section>

   <section class="imagem-home">
      <img class="banner" src="/img/banner-home.jpg" alt="Banner Home">
   </section>
   <section class="vitrine-produtos">
      <div class="" id="produto">
         <div class="">
            <img src="/img/default_poduct.png"" alt="vitrine-produtos">
            <h1>R$ 97484,00</h1>
            <br />
            <p>Até -20% de desconto</p>
            <br />
            <p><strong>Algum produto</strong></p>
         </div>
         <div class="">
            <img src="/img/default_poduct.png"" alt="vitrine-produtos">
            <h1>R$ 97484,00</h1>
            <br />
            <p>Até -20% de desconto</p>
            <br />
            <p><strong>Algum produto</strong></p>
         </div>
         <div class="">
            <img src="/img/default_poduct.png"" alt="vitrine-produtos">
            <h1>R$ 97484,00</h1>
            <br />
            <p>Até -20% de desconto</p>
            <br />
            <p><strong>Algum produto</strong></p>
         </div>
         <div class="">
            <img src="/img/default_poduct.png"" alt="vitrine-produtos">
            <h1>R$ 97484,00</h1>
            <br />
            <p>Até -20% de desconto</p>
            <br />
            <p><strong>Algum produto</strong></p>
         </div>
         <div class="">
            <img src="/img/default_poduct.png"" alt="vitrine-produtos">
            <h1>R$ 97484,00</h1>
            <br />
            <p>Até -20% de desconto</p>
            <br />
            <p><strong>Algum produto</strong></p>
         </div>
      </div>
   </section>
   <footer>
      <%- include('./partials/footer')%>
   </footer>
   <script src="/carrossel.js"></script>
</body>

</html>