<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head')%>
</head>
<header>
    <%- include('./partials/header-navbar')%>
</header>

<body>
    <div class="carrossel">
        <div id="conteiner">
            <img class="selected" src="img/images.jfif" alt="imagem carrossel">
            <img src="img/images (1).jfif" alt="imagem carrossel">
            <img src="img/images (2).jfif" alt="imagem carrossel">
            <img src="img/images(3).png" alt="imagem carrossel">
            
        </div>
    </div>
   

    <section class="imagem-home">
        <img class="banner" src="/img/banner-home.jpg" alt="Banner Home">
    </section>
    <section class="vitrine-produtos">
        <div class="" id="produto">
            <div class="">
                <h1 class="">Produtos Home</h1>
                <br />
            </div>
    </section>

</body>
<footer>
    <%- include('./partials/footer')%>
</footer>

</html>