<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>ScorpionTabacaria</title>
</head>
<body>
    <%- include('partials/header-navbar') %>

    <h1>Cadastre-se ou Acesse sua conta!</h1>

    <div class="container-login">


            <div class="left">
                <form action="">
                    <button class="ornament-button" type="button"> Quero me cadastrar</button><br><br>

                    <label for="name">Nome Completo</label><br>
                    <input type="text" name="name" placeholder="seu nome completo" required><br>

                    <label for="email">E-mail</label><br>
                    <input type="email" name="email" placeholder="email@email.com" required><br>

                    <label for="senha">Senha</label><br>
                    <input type="password" name="senha" placeholder="Criar senha" required><br>

                    <button class="real-button" type="submit">Criar conta</button>

                </form>
            </div>


            <div class="rigth">
                <form action="">
                    <button class="ornament-button" type="button">Já sou cliente!</button><br><br>

                    <label for="email">E-mail</label><br>
                    <input type="email" name="email" placeholder="seu email" required><br>

                    <label for="senha">Senha</label><br>
                    <input type="password" name="senha" placeholder="sua senha" required><br>
                    <a class="esqueceu-senha" href="">Esqueceu sua senha?</a>

                    <button class="real-button" type="submit">Entrar</button>
                </form>
            </div>
    </div>
    <%- include('partials/footer') %>
</body>
</html>