<%- include('./partials/head')%>
<link rel="stylesheet" href="/css/login.css">
<body>
    <%- include('partials/header-navbar') %>

    <h1>Cadastre-se ou Acesse sua conta!</h1>

    <div class="container-login">


            <div class="left">
                <form action="">
                    <button class="ornament-button" type="button"> Quero me cadastrar</button><br><br>

                    <label for="name">Nome Completo</label><br>
                    <input type="text" name="name" placeholder="seu nome completo" required><br>

                    <label for="email">E-mail</label><br>
                    <input type="email" name="email" placeholder="email@email.com" required><br>

                    <label for="senha">Senha</label><br>
                    <input type="password" name="senha" required><br>

                    <div class="center">
                        <button class="real-button" type="submit">CRIAR CONTA</button>
                    </div>

                </form>
            </div>


            <div class="rigth">
                <form action="">
                    <button class="ornament-button" type="button">Já sou cliente!</button><br><br>

                    <label for="email">E-mail</label><br>
                    <input type="email" name="email" required><br>

                    <label for="senha">Senha</label><br>
                    <input type="password" name="senha" required><br>
                    <a class="esqueceu-senha" href="">Esqueceu sua senha?</a>

                    <div class="center">
                        <button class="real-button" type="submit">ENTRAR</button>
                    </div>
                </form>
            </div>
    </div>
    <%- include('partials/footer') %>
</body>
</html>