<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/painelUsuario.css">
    <script src="https://kit.fontawesome.com/abd81b9a83.js" crossorigin="anonymous"></script>
    <title>ScorpionTabacaria</title>
</head>

<body>
    <%- include('partials/header-navbar') %>
    <main>
        <%- include('partials/userAccount') %>
                    <h2>Créditos</h2>
                    <div class="line"></div>
                    <p>Saldo de créditos e valores disponíveis para estorno</p>
                    </div>
                <div class="user-credits">
                    <div class="image-credits">
                        <i class="fa-solid fa-wallet fa-2xl"></i>
                    </div>
                <div class="user-credits-total">
                    <span class="user-total">Crédito disponível</span>
                    <div class="user-credits-total-money">
                        <span class="user-credits-total-one">R$</span>
                        <span class="user-credits-total-two">0,00</span>
                    </div>
                </div>
               
                </div>  
                <div class="value">
                    <h2>Extrato</h2>
              
                </div>
                
               <div class="total-amount">
                
                <div class="balance">
                    <h4>Saldo disponibilizado</h4>
                </div>
                <div class="balance-user">
                    <span class="balance-user-total">R$ 0,00</span>
                    <a href="/categoria"><button type="submit" class="btn btn-balance">Usar crédito <i class="  "></i></i></i></button></a>

                </div>
               </div>
            </article>
            </section>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>

</html>