<%- include('./partials/head')%>
<link rel="stylesheet" href="/css/adminProducts.css">

<body>

  <%- include('partials/header-navbar') %>

  <article class="container-products_admin">
    <h1>Cadastrar produto</h1>
    <form class="form-edit" action="/categoria/admin/create" method="POST" enctype="multipart/form-data">
      <div class="test">
        <label for="name">Nome</label>
        <input type="text" name="name" size="100" placeholder="Nome do produto" required>
      </div>
      <div class="describe">
        <label for="description">Descrição</label>
        <textarea name="description" id="description" placeholder="Descrição do produto" maxlength="250"></textarea>
      </div>
      <div class="specification">
        <label for="specification">Especificação</label>
        <textarea name="specification" id="specification" placeholder="Especificação do produto" maxlength="250"
          required></textarea>
      </div>

      <label class="picture">
        <input type="file" name="file" accept="image/*" id="image-input">
        <span class="picture-product">Escolha uma imagem</span>
      </label>

      <div classs="price-stock">
        <label for="price" class="price">Preço</label>
        <input id="price" type="number" name="price" placeholder="ex. 7,00" required>

        <label for="stock" class="stock">Estoque</label>
        <input id="stock" type="number" name="stock" placeholder="digite a quantidade" required>
      </div>

      <div class="brand-category">

        <label for="sale">Em promoção</label>
        <select name="sale" id="sale"  required>
          <option selected disabled value="">Selecione</option>
          <option value="1">Sim</option>
          <option value="0">Não</option>
        </select>

        <label for="brand">Marca</label>
        <select name="brand" id="brand" required>
          <option selected disabled value="">Selecione</option>
          <option value="teste">teste</option>
        </select>


        <label for="category">Categoria</label>
        <select name="category" id="category" required>
          <option selected disabled value="">Selecione</option>
          <option value="teste">teste</option>
        </select>

      </div>
      <div class="register-admin">
        <button class="submit-admin" type="submit">Cadastrar produto</button>
      </div>

    </form>
  </article>

  <%- include('partials/footer') %>

</body>

</html>