<%- include('./partials/head')%>
<link rel="stylesheet" href="/css/register.css">

<body>

    <%- include('./partials/header-navbar')%>

    <h1>Crie uma conta para comprar nossos produtos!</h1>

    <div class="container-register">

        <div class="register">

            <form action="/login/register" method="POST">

                <button class="ornament-button" type="button"> Quero me cadastrar</button><br><br>

                <label for="name">Nome Completo</label><br>
                <input type="text" name="name" placeholder="seu nome completo" required><br>

                <label for="email">E-mail</label><br>
                <input type="email" name="email" placeholder="email@email.com" required><br>

                <label for="password">Senha</label><br>
                <input type="password" name="password" required><br>

                <div class="center">
                    <button class="real-button" type="submit">CRIAR CONTA</button>
                </div>

            </form>
        </div>

    </div>

    <%- include('./partials/footer.ejs')%>

</body>

</html>