<%- include('./partials/head')%>
<link rel="stylesheet" href="/css/success.css">

<body>

  <%- include('partials/header-navbar') %>
  <main>
    <article class="success">
      <h1><i class="fa-solid fa-circle-check"></i> Produto cadastrado com sucesso!</h1>
      <ul class="list">
        <li><a href="/"><i class="fa-solid fa-house"></i> Voltar para Home</a></li>
        <li><a href="/categoria"><i class="fa-solid fa-store"></i> Produtos</a></li>
        <li><a href="/categoria/admin/create"><i class="fa-solid fa-check"></i> Cadastrar outro produto</a></li>
      </ul>

    </article>
  </main>
  <%- include('partials/footer') %>

</body>

</html>