<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Scorpion Tabacaria</title>
</head>

<body>
    <footer class="footer-scorpion">
        <section class="footer-container">
            <div class="content">
                <h2>Início</h2>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/categoria">Produtos</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </div>

            <div class="contact">
                <h2>Atendimento</h2>
                <ul>
                    <li><a href="https://wa.me/+5511999999999">+5511999999999</a></li>
                    <li><a href="mailto:sac@scorpiontabacaria.com.br">sac@scorpiontabacaria.com.br</a></li>
                    <li>Segunda a sexta das 8:00h às 18:00h</li>
                </ul>

            </div>
            <div class="payment-methods">
                <h2>Como pagar</h2>
                <img class="payment-icon" src="/img/visa-card.png">
                <img class="payment-icon" src="/img/mastercard.png">
                <img class="payment-icon" src="/img/elo.png">
                <img class="payment-icon" src="/img/amex.png">
                <img class="payment-icon" src="/img/pix.png">
                <img class="payment-icon" src="/img/boleto.png">
            </div>
            <div class="social-media">
                <h3>Siga-nos</h3>
                <a href="#"><i class="fa-brands fa-facebook fa-3x"></i></a>
                <a href="#"><i class="fa-brands fa-instagram fa-3x"></i></a>
            </div>
        </section>

    </footer>
</body>