<nav class="navbar">
    <img src="" alt="Imagem Scorpion">
    <ul>
        <li><a href="/login" class="ps-bar-item ps-button">Acessar Minha conta</a></li>
        <li><a href="/carrinho" class="ps-bar-item ps-button">Meus Padidos</a></li>
    </ul>
    <form class="nav-search" method="GET" action="#">
        <input type="text" name="barraDePesquisa" placeholder="Digite aqui">
        <button type="submit"><i class="fas fa-search"></i></button>
    </form>
</nav>