 <link rel="stylesheet" href="/css/header.css">
<header>
  <div class="logo">
    <img src="/img/logotipo3-removebg.png" alt="">
  </div>
  <div class="inputs">
    <input type="text" placeholder="Busque seus produtos aqui...">
    <span onclick="submit"><i class='bx bx-search'></i></span>
  </div>
  <div class="links-acessaveis">
    <div class="links">
      <span><a href="/login"><i class='bx bx-user'></i> Login</a></span>
      <span> <a href="/users"><i class='bx bxs-badge-check'></i> Meus Pedidos</a></span>
    </div>
    <div class="cart">
      <span><a href="/carrinho"><i class='bx bx-cart'></i></a></span>
    </div>
  </div>
</header>
