<link rel="stylesheet" href="/css/header.css">
<header>

    <div class="logo">
     <a href="/"><img src="/img/logotipo3-removebg.png" alt=""></a> 
    </div>

    <div class="inputs">
      <form action="/categoria/search" class="center" id="form">
        <input id="input-pesquisa" type="search" name="term" placeholder="Busque seus produtos aqui...">
        <span class='bx bx-search' id="button-pesquisa"><button type="submit" value="search"></button></span>
      </form>
    </div>

    <div class="links-acessaveis">

      <div class="links">
        <span class='bx bx-user' href="/login"><a href="/login"><b>Login</b></a></span>
        <span class='bx bxs-badge-check'><a href="/users"><b>Minha conta</b></a></span>
        <span class="fa-solid fa-store"><a href="/categoria"><b>Produtos</b></a></span>
        <span class='bx bx-cart'><a href="/carrinho"><b>Carrinho</b></a></span>
        <span class="fa-solid fa-arrow-left"><a href="/logout"><b>Logout</b></a></span>
      </div>

    </div>

</header>


